<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GETResponseComparator">
  <test thread-count="5" name="CompareResponse">
    <classes>
      <class name="com.comparator.api.UtilTests"/>
    </classes>
  </test> <!-- CompareResponse -->
</suite> <!-- GETResponseComparator -->
